body {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  background-color: #e3edf2;
}
.app-wrapper {
  margin-left: 20%;
  margin-right: 20%;
}
header {
  background: #b96d40;
  color: #fff;
  text-align: left;
  padding: 80px 0;
  position: relative;
}

.header-content {
  max-width: 61%;
  font-size: larger;
}
.fill {
  width: 180px;
  height: 180px;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: 20%;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

.form-container {
  position: absolute;
  top: 80px;
  right: 20px;
  background: #374a67;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: 30vw;
}

.about-section {
  max-width: 50vw;
  margin-left: 15rem;
}

.skills {
  gap: 7rem;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 90vw;
}

.skill {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill ul {
  list-style-type: circle;
  list-style-position: outside;
}
.skill li {
  text-align: start;
}
.skill p {
  text-align: start;
}
.skill img {
  max-width: 70px;
}
#contact_btn {
  width: 100%;
  background-color: #b96d40;
  color: #fff;
  padding: 2%;
  border: none;
  font-size: larger;
  border-radius: 5px;
  direction: rtl;
}
#contact_btn:hover {
  transform: scale(1.02);
}

#success_alert,
#fail_alert {
  position: fixed;
  z-index: 999;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 970px) {
  .app-wrapper {
    color: #000;
  }
  .form-container {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
  }
  .about-section {
    max-width: 100vw;
    text-align: start;
    margin-left: 10%;
    margin-right: 10%;
  }
  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .fill {
    width: 180px;
    height: 180px;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    left: 5%;
  }
}

@media (max-width: 700px) {
  .form-container {
    position: static;
    width: 100%;
    max-width: 100%;
  }
  .skill {
    width: 75%;
  }
  .skills {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .app-wrapper {
    margin-left: 5%;
    margin-right: 5%;
  }
  .about-section {
    max-width: 100vw;
    text-align: center;
  }
  .header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
  }
  .fill {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    left: 0;
  }
}

@media (max-width: 450px) {
  .header-content h1 {
    font-size: 2em;
  }
  .header-content {
    display: flex;
    justify-content: space-evenly;
  }
}

section {
  padding: 2rem;
  margin-bottom: 2rem;
}

footer {
  background: #374a67;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
}

footer img {
  max-width: 60px;
  position: relative;
  bottom: 50px;
}
.testimonial {
  direction: rtl;
}
h2.testimonials {
  color: #333;
  text-align: center;
  text-transform: none;
  font-family: "Lora", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}
h2.testimonials::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #0057a6;
  left: 0;
  right: 0;
  bottom: -10px;
}
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 50px auto;
}
.carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 10px 0 10px;
}
.carousel .overview {
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #0057a6;
}
.carousel .carousel-control {
  width: 5px;
  height: 40px;
  margin-top: -11rem;
  top: 50%;
  background: none;
}
.carousel-control {
  color: #000;
}
.carousel-control.right {
  right: -1.5rem;
}
.carousel-control.left {
  left: -2rem;
}
.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: black;
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  top: 70%;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

#contact input[type="text"],
#contact input[type="tel"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact h3 {
  color: #fff;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="tel"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="tel"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #161d27;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
  transform: scale(1.02);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

textarea {
  resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

.svg-inline--fa {
  vertical-align: -0.2em;
  height: 0.9em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons,
.fa-linkedin,
.fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-color: #125688;
}
